### Load libraries and dataset

In [12]:
%matplotlib inline

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import ipywidgets as widgets

df = pd.read_hdf('fmc_s2_reflectances.h5', parse_dates=['time'])

df

,time,uid,nbart_blue,nbart_green,nbart_red,nbart_nir_1,nbart_nir_2,nbart_swir_2,nbart_swir_3,latitude,longitude,veg_type,fmc_mean
0,2015-07-12,1_002,487.7864,700.3062,896.4102,2152.9849,2287.7542,2696.5708,1670.1947,-14.410,132.225,1.0,48.9675
1,2015-07-12,1_003,509.7278,780.5728,1028.1909,2315.1399,2426.8940,2463.5293,1664.9584,-14.510,132.770,1.0,110.4950
2,2015-07-12,1_004,417.6163,632.2269,753.3875,2029.1361,2098.9207,2373.6919,1468.7354,-14.570,132.945,1.0,37.8550
3,2015-07-12,1_005,495.5692,769.2530,1011.1799,2444.6621,2515.2568,2156.1167,1256.9447,-14.620,131.125,1.0,156.5925
4,2015-07-12,1_007,471.2552,699.7902,971.0832,2092.1228,2183.0698,2674.2097,1734.3591,-14.695,133.350,1.0,15.9525
...,...,...,...,...,...,...,...,...,...,...,...,...,...
873369,2018-12-31,3_995,160.5708,288.8167,187.3229,2353.7749,2379.9250,867.9000,353.9042,-42.920,146.745,3.0,105.2375
873370,2018-12-31,3_996,608.6111,640.7242,649.3829,1764.5596,1830.2699,1517.5000,960.4623,-43.000,147.490,3.0,94.0200
873371,2018-12-31,3_997,286.6083,349.9417,282.4062,2122.5042,2210.6479,903.2479,416.3625,-43.110,147.090,3.0,103.8375
873372,2018-12-31,3_998,400.7125,611.5938,501.5854,3427.3855,3512.1416,1975.9479,1001.0208,-43.225,146.985,3.0,106.3275
873373,2018-12-31,3_999,1625.5079,1667.5258,1706.5159,3327.9822,3332.7778,2563.7322,2129.8254,-43.600,146.860,3.0,103.9975

### Interactive plot of FMC histogram based on vegetation type and latitude range

In [4]:
def plot_field(veg_type,lat):
    plt.hist(df[(df.veg_type==veg_type) & (df.latitude>lat[0]) & (df.latitude<lat[1])].fmc_mean.values, bins=100)

interactive_plot = widgets.interactive(plot_field, veg_type=widgets.IntSlider(min=1,max=30,value=3,description="Vegetation Type"), lat=widgets.FloatRangeSlider(min=-45,max=-10,value=[-45,-10],description="Latitude"))
output = interactive_plot.children[-1]

interactive_plot

interactive(children=(IntSlider(value=3, description='Vegetation Type', max=30, min=1), FloatRangeSlider(valueâ€¦

### Same as before but adding month of year to filter data in histogram

In [5]:
def plot_field(veg_type,lat,month):
    plt.hist(df[(df.veg_type==veg_type) & (df.latitude>lat[0]) & (df.latitude<lat[1]) & (df['time'].map(lambda x: x.month)==month)].fmc_mean.values, bins=100)

interactive_plot = widgets.interactive(plot_field, veg_type=widgets.IntSlider(min=1,max=30,value=3,description="Vegetation Type"), lat=widgets.FloatRangeSlider(min=-45,max=-10,value=[-45,-10],description="Latitude"), month=(1, 12))
output = interactive_plot.children[-1]

interactive_plot

interactive(children=(IntSlider(value=3, description='Vegetation Type', max=30, min=1), FloatRangeSlider(valueâ€¦